div {
    text-align: center;
    /* padding-top: 50px; */
}

#openWhatsappChat {
    box-shadow: 0px 10px 14px -7px #3e7327;
    background: linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
    background-color: #77b55a;
    border-radius: 4px;
    border: 1px solid #4b8f29;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Verdana;
    font-size: 15px;
    font-weight: bold;
    padding: 15px 12px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #5b8a3c;
}

#openWhatsappChat:hover {
    background: linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
    background-color: #72b352;
}

#openWhatsappChat:active {
    position: relative;
    top: 1px;
}

#phoneInputTextBox {
    width: 50%;
    color: rgb(36, 35, 42);
    font-size: 16px;
    line-height: 20px;
    min-height: 28px;
    border-radius: 4px;
    padding: 8px 16px;
    border: 2px solid transparent;
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
    background: rgb(251, 251, 251);
    transition: all 0.1s ease 0s;
    margin-bottom: 10px;
}

phoneInputTextBox:focus {
    border: 2px solid rgb(124, 138, 255);
}

body {
    background: #000405;
    /* min-height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: 'Work Sans', sans-serif;
    font-weight: 900;
}

div#titleText {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
    word-spacing: 2px;
    /* color: #000000; */
    font-weight: 500;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
    margin: 50px;
}

img {
    height: 30px;
    width: auto;
}

p {
    font-size: 10px;
    /* text-transform: uppercase; */
    text-align: center;
    line-height: 1;
}

/* .fancy {
    @supports (background-clip: text) or (-webkit-background-clip: text) {
        background-image:
            url("data:image/svg+xml,%3Csvg width='2250' height='900' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath fill='%2300A080' d='M0 0h2255v899H0z'/%3E%3Ccircle cx='366' cy='207' r='366' fill='%2300FDCF'/%3E%3Ccircle cx='1777.5' cy='318.5' r='477.5' fill='%2300FDCF'/%3E%3Ccircle cx='1215' cy='737' r='366' fill='%23008060'/%3E%3C/g%3E%3C/svg%3E%0A");
        background-size: 110% auto;
        background-position: center;
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
    }
} */